{% extends 'base.html' %} {% block content %}
<div class="jumbotron container py-5">
  <h1 class="display-4">BIENVENIDO A MI TRABAJO PRÁCTIVO INDIVIDUAL!</h1>
  <p class="lead">
    Esta es una práctica de como hacer un pequeño proyecto en Django, espero que
    lo disfrute!
  </p>
  <hr class="my-4" />
  <p>
    En este pequeño proyecto puedes:
  </p>
  <ul>
    <li>Agregar un proveedor</li>
    <li>Agregar un Producto</li>
    <li>Consultar la lista de proveedores</li>
    <li>Consultar la lista de productos</li>
  <ul>
</div>
{% endblock %}
